{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>Registrar Nuevo Ingreso Extraordinario</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <button type="submit" class="btn btn-primary">Guardar Ingreso</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}